header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #0f0f0f;
    display: flex;
    justify-content: space-between;
    padding: 0;
    height: 8vh;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.header-menu {
    display: flex;
    list-style: none;
}

.header-menu li {
    margin: 0 10px;
}

.header-menu a {
    text-decoration: none;
    color: white;
}

.header-menu a.active {
    font-weight: bold;
}

@media (max-width: 600px) {
    header h1 {
        display: none;
    }
    .menu-icon {
        padding-right: 10px;
        display: flex;
        flex-direction: row-reverse;
    }

    .header-menu {
        display: none !important; 
        flex-direction: column;
        position: absolute;
        top: 8vh;
        right: 0;
        background-color: #0f0f0f;
        width: 100%;
        text-align: center;
    }

    .header-menu.open {
        display: flex !important;
    }

    .header-menu li {
        margin: 10px 0;
    }
}

header img {
    max-height: 8vh;
}

header h1{
    margin-right: 20px;
    max-width: fit-content;
}

li a:hover ,
a h1:hover ,
a:hover {
    color:#7FA650;
}

.active {
    color:#7FA650 !important;
    font-weight: 800;
}

.header-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-menu li {
    text-align: center;
    margin-left: 5px;
}

li a {
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.play-button {
    max-width: 100px;
    max-height: 50px;
    background-color: #7FA650;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    margin-right: auto;
}

.play-button:hover {
    border-color: #fff;
}

a {
    max-width: fit-content;
    padding-left: 0px;
    font-size: auto;
}